---
layout: default
---

{% include back.html %}

<main>

<section data-section="guide">
  <div class="wrapper">
    <div class="block block-content">
			<h1>Island Guide</h1>
			<h2>About St. Thomas &amp; St. John</h2>
			<p>St. John, the smallest of the US Virgin Islands, is best known for its beauty (think amazing white sand beaches, turquoise bays with tropical fish, etc.), which is largely made possible because two thirds of it is the Virgin Islands National Park. Cruz Bay is where most of the activity is, and the majority of the beaches people visit are along the North road. Coral Bay and the East end are a bit off the beaten path (aka less touristy), and just as fun to explore!</p>
			<p>St. Thomas, even though you will be spending most of your time on St. John, we recommend a day trip to St. Thomas if time allows. We love this island just as much - we actually usually spend most of our time here - and it also offers a ton of great beaches, snorkeling, and bars and restaurants. This island is bigger and is the most developed of the Virgin Islands.</p>
			<img data-src="{{ site.imagebase }}/photos/view.jpg" alt="View">
			<h2>Passports</h2>
			<p>Although St. Thomas and St. John are technically US territories, passports are required to return to the US.</p>
			<h2>Getting There</h2>
			<p>To get to St. John, you need to fly into St. Thomas (STT) airport. Upon arrival to St. Thomas, you will take a taxi to the Red Hook Ferry Terminal. Approximate cost for the taxi is $15 - $20 per person, depending on luggage. The ferry leaves every hour on the hour from Red Hook to St. John from 6am until midnight. Ferry fare is $8.15 per person and $4 per bag, each way. Please note, both the taxi and ferry are cash only (yes, local currency is USD).</p>
			<h2>Rental Cars</h2>
			<p>Depending on the length of your stay, you might want to rent a car to explore the island at your own speed (honestly, even if you don’t do it for the full time, it’s pretty fun to do for a day). If you do, our recommendations:</p>
			<ul>
				<li>Do it on St. John rather than St. Thomas. While there is a car ferry from St. Thomas to St. John, it is not nearly as frequent and is a pain to wait for.</li>
				<li>Rent a Jeep (or other car with 4-wheel drive). Both St. Thomas and St. John are very hilly and it rains often so roads can be slick - trust us, you will want 4-wheel drive.</li>
				<li>Try your best to book in advance, as Jeeps can be in high demand</li>
			</ul>
			<h2>Driving on the Left</h2>
			<p>Speaking of driving, the first major thing you might notice is that the left side of the road is actually the "right" side of the road in the USVI. When driving, remember to keep left at all times!</p>
			<h2>Around Town</h2>
			<p>Keep in mind that some things in the USVI are truly on "Island Time" and patience is a great thing.  Also, bathing suits are for the beaches. Please be sure to have a cover up on and males should have shirts on while in public places.</p>
			<h2>Transportation</h2>
			<p>Taxis are readily available on St. John. They will take you to Cruz Bay, Coral Bay or any of the beaches along the way. The information book at your hotel or villa should provide taxi driver suggestions. Here are a few more: Chico <a href="tel:+13406906507" target="_blank">(340) 690-6507</a>, Piper <a href="tel:+13403444234" target="_blank">(340) 344-4234</a>.</p>
			<h2>On Water</h2>
			<p>Fresh water in the islands is precious, conserve water when you can. Use the water you need, but please try not to waste it. It’s safe to use to wash your hands, brush your teeth, cook, etc., but you may want to drink bottled water because it tastes better.</p>
			<h2>Cell Phone/Data Service</h2>
			<p>AT&amp;T has the most reliable service on St. John. Sprint and TMobile have limited coverage in the USVI. If you have Verizon, you will be roaming and you will incur fees. As a precaution, to check with your provider before your trip to determine if you will have coverage while traveling.</p>
			<h2>Electricity</h2>
			<p>Electricity on St. John comes via cable from St. Thomas, and is not always as reliable as we’d like it to be. Frequent outages are common. Don’t be caught off guard if this happens, and please be patient.</p>
			<h2>Medical Care</h2>
			<p>For any medical needs, please visit the Clinic near the Ferry Dock. If you do have an emergency, always call 911 and state that you are on St. John because the calls do get routed through St. Thomas.</p>
			<h2>Questions?</h2>
			<p>Feel free to contact our wedding planner, Michelle Cawthron of Paradise Planning, with any questions you may have.  Her email is <a href="mailto:Michelle@ParadisePlanningUSVI.com" target="_blank">Michelle@ParadisePlanningUSVI.com</a>.</p>
			<img data-src="{{ site.imagebase }}/photos/beach.jpg" alt="Beach">
    </div>
  </div>
</section>

</main>

{% include back.html %}
