---
layout: default
---

{% include back.html %}

<main>

<section data-section="itinerary">
  <div class="wrapper">
    <div class="block block-content">
			<h1>Wedding Weekend</h1>
			<h2>Welcome Happy Hour</h2>
			<p>Details TBC</p>
			<h2>Rehearsal Dinner</h2>
			<p>Details TBC</p>
			<h2>Wedding Day</h2>
			<p>Wedding Date: {{ site.wedding_date }}</p>
			<p>Details TBC</p>
			<p>Time: TBC</p>
			<p>Attire: TBC</p>
			<p>Transportation Details: TBC</p>
			<p>Susannaberg ruins (ceremony)</p>
			<img data-src="{{ site.imagebase }}/photos/susannaberg.jpg?v=2" alt="Susannaberg Ruins">
			<p>Rhumb Lines (reception)</p>
			<img data-src="{{ site.imagebase }}/photos/rhumb-lines.jpg?v=2" alt="Rhumb Lines">
    </div>
  </div>
</section>

</main>

{% include back.html %}
