---
layout: default
---

{% include back.html %}

<main>

<section data-section="itinerary">
  <div class="wrapper">
    <div class="block block-content">
			<h1>Wedding Weekend</h1>
			<p style="text-align: center;">St. John weekend itinerary and detail about the Chicago reception coming soon.</p>
			<h2>Wedding Day: {{ site.wedding_date }}</h2>
			<h2><em>Susannaberg Ruins (ceremony)</em></h2>
			<img loading="lazy" src="{{ site.imagebase }}/photos/susannaberg.jpg?v=2" alt="Susannaberg Ruins">
			<h2><em>Rhumb Lines (reception)</em></h2>
			<img loading="lazy" src="{{ site.imagebase }}/photos/rhumb-lines.jpg?v=2" alt="Rhumb Lines">
    </div>
  </div>
</section>

</main>

{% include back.html %}
