---
layout: default
---

{% include back.html %}

<main>

<section data-section="itinerary">
  <div class="wrapper">
    <div class="block block-content">
			<h1>Wedding Weekend</h1>
			<div class="block">
				<div class="block-content">
					<h2>Wednesday, January 26th - <em>Kekoa Charter</em></h2>
					<p>12:30 - 4:30pm; please arrive at the dock by 12:15pm</p>
					<p><strong>National Park Visitors Center Dock</strong> (near Cruz Bay)</p>
					<p>Join us in exploring the out-islands off St. John's north side where we'll enjoy a couple snorkel stops, an open bar, and snacks. Kekoa will provide plenty of snorkel gear if you do not have your own. St. John has some of our favorite snorkel spots and we're so excited to share them with you! If you'll be joining, please remember to bring:</p>
					<ul>
						<li>Face masks for boarding</li>
						<li>Towels</li>
						<li>Non-spray sunscreen (and maybe a cover up if you sunburn easily</li>
					</ul>
				</div>
				<div class="block-images">
					<img loading="lazy" src="/dist/images/photos/charter.jpg" alt="Kekoa Charter">
				</div>
			</div>
			<div class="block">
				<div class="block-content">
					<h2>Thursday, January 27th - <em>Beach Day</em></h2>
					<p>11am</p>
					<p>Post up with us at Honeymoon beach for the day! This is completely optional and we will not be offended if you prefer to take this time to explore the island on your own! For those who are interested, it's a short taxi ride from most hotels or about a one mile walk from Cruz Bay. There is a bar (Bikinis on the Beach) and snorkel rental on site, but packing your own cooler with refreshments is also encouraged :)</p>
					<p>P.S. If you are looking to rent snorkel equipment for a longer period of time (daily or for the week), we recommend checking out Beach Bum, located right off the ferry dock in Cruz Bay.</p>
				</div>
				<div class="block-images">
					<img loading="lazy" src="/dist/images/photos/honeymoon-beach.jpg" alt="Honeymoon Beach">
				</div>
			</div>
			<div class="block">
				<div class="block-content">
					<h2>Friday, January 28 - <em>Welcome Party</em></h2>
					<p>5 - 8pm</p>
					<p><strong>The Hills</strong><br>11 Bay View Terrace<br>Cruz Bay, St. John 00830 USVI</p>
					<p><small><em>Casual Attire</em></small></p>
					<p>We're hosting a welcome party on the terrace at The Hills clubhouse on Friday night. Come hungry & thirsty! We'll have a dinner of passed small plates and an open bar to kick off the weekend celebrations.</p>
				</div>
				<div class="block-images">
					<img loading="lazy" src="/dist/images/photos/hills.jpg" alt="The Hills">
				</div>
			</div>
			<hr>
			<h2>{{ site.wedding_date }} - <em>Wedding Day</em></h2>
			<h2><em>Ceremony - Susannaberg Ruins</em><br><em>Reception - Morgan's Mango</em></h2>
			<p>18-1 Enighed Cruz Bay<br>St. John, 00831 USVI</p>
			<p><small><em>Cocktail Attire</em></small></p>
			<p>Ceremony at Susannaberg Ruins will begin promptly at 4 o'clock and will be followed by dinner, drinks and dancing at Morgan's Mango. Transportation to ceremony and from reception will be provided for all guests, regardless of where you choose to stay.</p>
    </div>
  </div>
</section>

<section data-section="photos">
  <img class="portrait" loading="lazy" src="{{ site.imagebase }}/photos/susannaberg.jpg?v=2" alt="Susannaberg Ruins">
  <img class="portrait" loading="lazy" src="{{ site.imagebase }}/photos/morgans-mango.jpg" alt="Morgan's Mango">
</section>

</main>

{% include back.html %}
