.block {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;

  &:nth-of-type(2) {
    margin-top: 4rem;
  }

  h2 {

    @media screen and (min-width: $screen-sm) {
      text-align: left;
    }

  }

  .block-images {

    margin-top: 2rem;

    img {
      max-width: 300px;
    }

	}

	&-content {

		display: block;

		h1 {
			font-size: 1.75rem;
			text-align: center;
		}

		h2 {
			margin: 2rem 0px 0.5rem;
			font-size: 1.375rem;
		}

		img {
			margin: 1rem 0px;
			width: 100%;
		}

	}

	&-rsvp {

		display: block;

		.rsvp-button-wrap {
			text-align: center;
		}

		.rsvp-fine-print p {
			font-size: 0.875rem;
		}

		@media screen and (min-width: $screen-sm) {

			max-width: 800px;
			margin: 0px auto;
			text-align: center;

			h2 {
				text-align: center;
			}

			p {
				font-size: 1.25rem;
			}

			.rsvp-fine-print {

				text-align: center;

				p {
					font-size: 1rem;
				}

			}

		}

	}

  @media screen and (min-width: $screen-sm) {

    &:nth-of-type(2) {

      .block-images {
        order: 1;
      }

      .block-content {
        order: 2;
        margin-left: 5%;
        margin-right: 0px;
      }

    }

    .block-content {
      margin-right: 5%;
      width: 55%;
    }

    .block-images {

      width: 40%;

      img {
        max-width: none;
        width: 100%;
      }

    }

  }

  @media screen and (min-width: $screen-md) {

    .block-content {
      width: 65%;
    }

    .block-images {
      width: 30%;
    }

  }

  $details-offset: 4rem;

  @media screen and (min-width: $screen-md + ($details-offset * 3)) {

    &:nth-of-type(2) {

      .block-images {
        transform: translate($details-offset * -1, 0px);
      }

      .block-content {
        margin: 0px;
        transform: translate($details-offset, 0px);
      }

    }

    .block-content {
      margin-right: 0px;
      transform: translate($details-offset * -1, 0px);
      width: 70%;
    }

    .block-images {
      transform: translate($details-offset, 0px);
    }

  }

}
