.map {

  width: 100%;
  height: 30rem;
  background: $black;

  .marker {

    position: relative;
    width: 1rem;
    height: 1rem;
    background: {
      size: 75% auto;
      position: center center;
      repeat: no-repeat;
      color: $black;
    }
    border-radius: 1rem;

    &:after {
      content: attr(data-title);
      display: block;
      position: absolute;
      top: calc(100% + 0.25rem);
      left: 50%;
      transform: translate(-50%, 0px);
      width: 5rem;
      text-align: center;
      font-size: 0.5rem;
      line-height: 1.2;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    @media screen and (min-width: $screen-sm) {

      width: 2rem;
      height: 2rem;

      &:after {
        width: 10rem;
        font-size: 1rem;
      }

		}

		&-plane-solid {
      background: {
        image: url('/dist/images/icons/plane-solid.svg');
        color: $blue;
      }
    }

		&-crown-solid {
      background: {
        image: url('/dist/images/icons/crown-solid.svg');
        color: $blue;
      }
    }

    &-amusement-park {
      background: {
        image: url('/dist/images/icons/amusement-park.svg');
        color: $red;
      }
    }

    &-religious-christian {
      background: {
        image: url('/dist/images/icons/religious-christian.svg');
        color: $blue;
      }
    }

    &-lodging {
      background: {
        image: url('/dist/images/icons/lodging.svg');
        color: $green;
      }
    }

  }

}
