// Colors
$black: #000;
$black-off: #313131;
$white: #fff;
$red: #f74848;
$green: #33905a;
$blue: #0075ff;

$color-headline: $black-off;
$color-text: $black-off;
$color-accent: $green;

$font-main: 'interstate', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font-size: 16px;

$screen-xs: 25rem;
$screen-xs-px: 400px;
$screen-sm: 48rem;
$screen-sm-px: 768px;
$screen-md: 64rem;
$screen-md-px: 1024px;
$screen-lg: 75rem;
$screen-lg-px: 1200px;
$screen-xl: 94rem;
$screen-xl-px: 1504px;
