[data-section="wedding-party"] {
  // padding: 2rem 0px;
}

.wedding-party-group {

	display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &:after {
    content: ' ';
    display: block;
    clear: both;
  }

  &:not(:first-child) {

    margin-top: 3%;

    @media screen and (min-width: $screen-sm) {
      margin-top: 1%;
    }

  }

}

.party-member {

  position: relative;
  background: {
    size: cover;
    position: center center;
    // color: $black;
  }
  filter: grayscale(100%);
  overflow: hidden;
  transition: filter 300ms;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &:hover {
    cursor: pointer;
    filter: grayscale(0%);
	}

	&.filler:hover {
		cursor: inherit;
	}

  &-inner {

    display: none;

    .member-popup & {
      display: block;
    }

  }

  .cropped {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100%;
    max-width: none;
    max-height: none;
  }

  .full {
    display: none;
  }

  // @media screen and (min-width: $screen-xs) {
  //   flex-basis: percentage((1 - 0.03) / 4);
  // }

  // @media screen and (min-width: $screen-sm) {
  //   flex-basis: percentage((1 - 0.08) / 8);
	// }

	flex-basis: calc((100% - 1rem) / 2);
	margin-left: 1rem;

	&:nth-child(odd) {
		margin-left: 0px;
	}

	&:nth-child(n+3) {
		margin-top: 1rem;
	}

	@media screen and (min-width: $screen-sm) {

		flex-basis: calc((100% - 3rem) / 4);
		margin-left: 1rem;

		&:nth-child(odd) {
			margin-left: 1rem;
		}

		&:nth-child(4n-3) {
			margin-left: 0px;
		}

		&:nth-child(n+3) {
			margin-top: 0px;
		}

		&:nth-child(n+5) {
			margin-top: 1rem;
		}

	}

	@media screen and (min-width: $screen-lg) {

		flex-basis: calc((100% - 7rem) / 8);

		&:nth-child(4n-3) {
			margin-left: 1rem;
		}

		&:nth-child(8n-7) {
			margin-left: 0px;
		}

		&:nth-child(n+5) {
			margin-top: 0px;
		}

		&:nth-child(n+9) {
			margin-top: 1rem;
		}

	}

}

.member-popup {

  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: transparentize($black, 0.25);

  .popup-inner {

    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: calc(100% - 2rem);
    background: $white;

    @media screen and (min-width: $screen-sm) {
      padding: 2rem;
      width: $screen-sm - 10rem;
    }

    @media screen and (min-width: $screen-md) {
      width: $screen-md - 10rem;
    }

    @media screen and (min-width: $screen-lg) {
      width: $screen-lg - 10rem;
    }

    .popup-close {

      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 3rem;
      font-weight: bold;
      line-height: 1.75rem;

      &:hover {
        cursor: pointer;
        opacity: 0.75;
      }

    }

    // .party-member-inner {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   flex-direction: row;
    //   flex-wrap: wrap;
    //   flex-flow: row wrap;
    //   align-content: flex-end;
    // }

    img {
      display: block;
      margin: 0px auto;
      max-width: 80%;
      max-height: 200px;
    }

    img + .popup-content {
      margin-top: 1rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.4;
    }

    .member-name {
      margin-bottom: 1rem;
    }

    @media screen and (min-width: $screen-md) {

      img {
        max-width: 400px;
        max-height: 500px;
      }

      p {
        font-size: 1.25rem;
      }

    }

  }

}

body.popup-active {

  overflow: hidden;

  .member-popup {
    display: block;
  }

}
